In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv('../Expolratory_data_analysis/csv_files/all_players.csv')
df.head()

,Year,Name,College,POS,Height (in),Weight (lbs),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,ProBowl_Age,ProBowl_Year,ProBowl
0,1987,Mike Adams,Arizona State,DB,69.8,198.0,0.0,4.42,13.0,32.0,118.0,4.60,0.0,[],[],0
1,1987,John Adickes,Baylor,C,74.8,266.0,0.0,4.97,25.0,26.5,103.0,4.60,0.0,[],[],0
2,1987,Tommy Agee,Auburn,RB,71.8,217.0,0.0,0.00,15.0,0.0,0.0,0.00,0.0,[],[],0
3,1987,David Alexander,Tulsa (OK),C,75.0,279.0,0.0,5.13,22.0,27.5,105.0,4.33,0.0,[],[],0
4,1987,Lyneal Alston,Southern Mississippi,WR,72.1,202.0,0.0,4.64,7.0,32.0,114.0,4.52,0.0,[],[],0

In [3]:
%store -r comparison

In [4]:
list_of_pos = ['DB','C','RB','WR','DE','OT','S','TE','DT','LB','QB','OG','K']
list_of_metrics = ['Height (in)','Weight (lbs)','40 Yard','Bench Press','Vert Leap (in)','Broad Jump (in)','Shuttle','3Cone']

In [5]:
count_ones = (df['ProBowl'] == 1).sum()
print(count_ones)

923

In [6]:
def count_of_probowlers(df, pos):
    count_ones = ((df['ProBowl'] == 1) & (df['POS']==pos)).sum()
    print(pos + ' : ' + str(count_ones))

for pos in list_of_pos:
    count_of_probowlers(df, pos)

DB : 94
C : 34
RB : 112
WR : 112
DE : 79
OT : 69
S : 62
TE : 53
DT : 57
LB : 107
QB : 66
OG : 50
K : 28

In [7]:
#remove all rows that have little combine data
zero_count = df[['40 Yard', 'Bench Press', 'Vert Leap (in)', 'Broad Jump (in)', 'Shuttle', '3Cone']].eq(0).sum(axis=1)

# Create a mask where the count of zeros is 3 or more
mask = (zero_count >= 4) & (df['POS']!='K')

# Drop the rows where the mask is True (i.e., where 3 or fewer of the specified columns are 0)
df = df[~mask]

In [8]:
count_ones = (df['ProBowl'] == 1).sum()
print(count_ones)

803

In [9]:
for pos in list_of_pos:
    count_of_probowlers(df, pos)

DB : 84
C : 29
RB : 94
WR : 96
DE : 69
OT : 61
S : 55
TE : 48
DT : 44
LB : 98
QB : 49
OG : 48
K : 28

In [10]:
print(df.head())

   Year             Name               College POS  Height (in)  Weight (lbs)  \
0  1987       Mike Adams         Arizona State  DB         69.8         198.0
1  1987     John Adickes                Baylor   C         74.8         266.0
3  1987  David Alexander            Tulsa (OK)   C         75.0         279.0
4  1987    Lyneal Alston  Southern Mississippi  WR         72.1         202.0
5  1987     Steve Alvord            Washington  DE         76.5         273.0

   Wonderlic  40 Yard  Bench Press  Vert Leap (in)  Broad Jump (in)  Shuttle  \
0        0.0     4.42         13.0            32.0            118.0     4.60
1        0.0     4.97         25.0            26.5            103.0     4.60
3        0.0     5.13         22.0            27.5            105.0     4.33
4        0.0     4.64          7.0            32.0            114.0     4.52
5        0.0     4.86         18.0            28.5            108.0     4.49

   3Cone ProBowl_Age ProBowl_Year  ProBowl
0    0.0          []           []        0
1    0.0          []           []        0
3    0.0          []           []        0
4    0.0          []           []        0
5    0.0          []           []        0

In [11]:
df.drop(['Year', 'Name', 'College', 'Wonderlic', 'ProBowl_Age', 'ProBowl_Year'], axis=1, inplace=True)

In [12]:
print(df.head())

  POS  Height (in)  Weight (lbs)  40 Yard  Bench Press  Vert Leap (in)  \
0  DB         69.8         198.0     4.42         13.0            32.0
1   C         74.8         266.0     4.97         25.0            26.5
3   C         75.0         279.0     5.13         22.0            27.5
4  WR         72.1         202.0     4.64          7.0            32.0
5  DE         76.5         273.0     4.86         18.0            28.5

   Broad Jump (in)  Shuttle  3Cone  ProBowl
0            118.0     4.60    0.0        0
1            103.0     4.60    0.0        0
3            105.0     4.33    0.0        0
4            114.0     4.52    0.0        0
5            108.0     4.49    0.0        0

In [13]:
for metric in list_of_metrics:
    if metric == 'Height (in)':
        parse_metric = 'Height_in'
    if metric == 'Weight (lbs)':
        parse_metric = 'Weight_lbs'
    if metric == '40 Yard':
        parse_metric = 'Forty_Yard'
    if metric == 'Bench Press':
        parse_metric = 'Bench_Press'
    if metric == 'Vert Leap (in)':
        parse_metric = 'Vert_Leap_in'
    if metric == 'Broad Jump (in)':
        parse_metric = 'Broad_Jump_in'
    if metric == 'Shuttle':
        parse_metric = 'Shuttle'
    if metric == '3Cone':
        parse_metric = 'Three_Cone'

    for pos in list_of_pos:
        df.loc[(df[metric] == 0) & (df['POS'] == pos), metric] = comparison[parse_metric][pos + '_avg'][2]

In [14]:
print(df.tail())

      POS  Height (in)  Weight (lbs)  40 Yard  Bench Press  Vert Leap (in)  \
13842  DE        76.00         278.0     4.79         23.0           32.22
13843  OT        77.38         333.0     5.01         23.2           29.00
13845   C        74.63         303.0     5.14         29.0           30.50
13847  DT        75.38         294.0     5.12         24.0           26.00
13848  LB        74.38         250.0     4.40         22.0           38.00

       Broad Jump (in)  Shuttle  3Cone  ProBowl
13842            115.0     4.52   7.49        0
13843            114.0     4.72   7.87        0
13845            106.0     4.53   7.64        0
13847            108.0     4.66   7.68        0
13848            132.0     4.34   7.19        0

In [15]:
scaler = StandardScaler()

# List of columns to be standardized
columns_to_scale = ['Height (in)', 'Weight (lbs)', '40 Yard', 'Bench Press', 'Vert Leap (in)', 'Broad Jump (in)', 'Shuttle', '3Cone']

# Apply the scaler to the specified columns
scaled_columns = scaler.fit_transform(df[columns_to_scale])

# Replace the original columns with the scaled values
df[columns_to_scale] = scaled_columns

In [16]:
print(df.tail())

      POS  Height (in)  Weight (lbs)   40 Yard  Bench Press  Vert Leap (in)  \
13842  DE     0.854498      0.841634 -0.084205     0.649461        0.002553
13843  OT     1.376078      2.061904  0.632245     0.682280       -0.766940
13845   C     0.336697      1.396302  1.055601     1.634019       -0.408481
13847  DT     0.620165      1.196622  0.990470     0.813554       -1.483859
13848  LB     0.242208      0.220406 -1.354275     0.485368        1.383818

       Broad Jump (in)   Shuttle     3Cone  ProBowl
13842         0.184972  0.405210  0.475637        0
13843         0.080999  1.190146  1.455840        0
13845        -0.750793  0.444457  0.862559        0
13847        -0.542845  0.954665  0.965739        0
13848         1.952529 -0.301232 -0.298207        0

In [17]:
df.describe()

,Height (in),Weight (lbs),40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,ProBowl
count,1.222500e+04,1.222500e+04,1.222500e+04,1.222500e+04,1.222500e+04,1.222500e+04,1.222500e+04,1.222500e+04,12225.000000
mean,5.533224e-16,-1.092696e-16,1.450728e-15,-4.312660e-16,-1.859907e-15,8.555574e-16,-1.487926e-16,-1.348433e-16,0.065685
std,1.000041e+00,1.000041e+00,1.000041e+00,1.000041e+00,1.000041e+00,1.000041e+00,1.000041e+00,1.000041e+00,0.247741
min,-4.625876e+00,-2.131386e+00,-1.973027e+00,-2.960583e+00,-3.515131e+00,-1.104421e+01,-2.695288e+00,-2.671330e+00,0.000000
25%,-7.026840e-01,-8.223696e-01,-8.006549e-01,-6.632821e-01,-6.474536e-01,-5.428451e-01,-6.937006e-01,-7.367188e-01,0.000000
50%,6.078875e-02,-2.011414e-01,-2.144688e-01,-5.613830e-02,6.946562e-02,8.099855e-02,-1.442453e-01,-2.724122e-01,0.000000
75%,7.600088e-01,7.750742e-01,6.648105e-01,6.494612e-01,6.668983e-01,7.048422e-01,6.014441e-01,5.788166e-01,0.000000
max,3.273422e+00,3.259987e+00,4.247059e+00,9.018199e+00,3.415089e+00,3.512138e+00,1.092335e+01,5.944137e+00,1.000000

In [18]:
# Fit the encoder on the 'POS' column
encoder = OneHotEncoder(sparse=False)

encoder.fit(df[['POS']])
category_encoded = encoder.transform(df[['POS']])
df_encoded = pd.DataFrame(category_encoded, columns=encoder.get_feature_names_out(['POS']), index=df.index)
df = df.drop('POS', axis=1)
df = pd.concat([df, df_encoded], axis=1)

c:\Users\siyun\anaconda3\envs\'nfl_env'\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [19]:
print(df.tail())

       Height (in)  Weight (lbs)   40 Yard  Bench Press  Vert Leap (in)  \
13842     0.854498      0.841634 -0.084205     0.649461        0.002553
13843     1.376078      2.061904  0.632245     0.682280       -0.766940
13845     0.336697      1.396302  1.055601     1.634019       -0.408481
13847     0.620165      1.196622  0.990470     0.813554       -1.483859
13848     0.242208      0.220406 -1.354275     0.485368        1.383818

       Broad Jump (in)   Shuttle     3Cone  ProBowl  POS_C  ...  POS_DT  \
13842         0.184972  0.405210  0.475637        0    0.0  ...     0.0
13843         0.080999  1.190146  1.455840        0    0.0  ...     0.0
13845        -0.750793  0.444457  0.862559        0    1.0  ...     0.0
13847        -0.542845  0.954665  0.965739        0    0.0  ...     1.0
13848         1.952529 -0.301232 -0.298207        0    0.0  ...     0.0

       POS_K  POS_LB  POS_OG  POS_OT  POS_QB  POS_RB  POS_S  POS_TE  POS_WR
13842    0.0     0.0     0.0     0.0     0.0     0.0    0.0     0.0     0.0
13843    0.0     0.0     0.0     1.0     0.0     0.0    0.0     0.0     0.0
13845    0.0     0.0     0.0     0.0     0.0     0.0    0.0     0.0     0.0
13847    0.0     0.0     0.0     0.0     0.0     0.0    0.0     0.0     0.0
13848    0.0     1.0     0.0     0.0     0.0     0.0    0.0     0.0     0.0

[5 rows x 22 columns]

In [20]:
#df.to_csv('../Clustering/csv_files/cleaned_players.csv', index=False)