In [1]:
import pandas as pd

In [2]:
df_all_players = pd.read_csv('all_combine_dataset.csv')
df_pro_players = pd.read_csv('all_pro_players_list.csv')

In [3]:
print(df_pro_players.head())

              Name  Year
0      Fredd Young  1987
1       Jim Arnold  1987
2     Joey Browner  1987
3     Reggie White  1987
4  Morten Andersen  1987

In [4]:
print(df_all_players.head())

   Year             Name               College POS  Height (in)  Weight (lbs)  \
0  1987       Mike Adams         Arizona State  CB         69.8           198
1  1987     John Adickes                Baylor   C         74.8           266
2  1987       Tommy Agee                Auburn  FB         71.8           217
3  1987  David Alexander            Tulsa (OK)   C         75.0           279
4  1987    Lyneal Alston  Southern Mississippi  WR         72.1           202

   40 Yard  Bench Press  Vert Leap (in)  Broad Jump (in)  Shuttle  3Cone
0     4.42           13            32.0              118     4.60   7.31
1     4.97           25            26.5              103     4.60   7.31
2     4.81           15            28.7              109     4.45   7.31
3     5.13           22            27.5              105     4.33   7.31
4     4.64            7            32.0              114     4.52   7.31

In [5]:
merged_df = pd.merge(df_all_players, df_pro_players, on=['Name']) #merge both datasets to form singular dataset
merged_df = merged_df.drop_duplicates(subset=['Year_x','Name','College','POS','Height (in)','Weight (lbs)','40 Yard','Bench Press','Vert Leap (in)','Broad Jump (in)','Shuttle','3Cone'], keep='first') #drop any duplicated records
print(merged_df.head())

    Year_x             Name                  College POS  Height (in)  \
0     1987       Mike Adams            Arizona State  CB        69.80
2     1997       Mike Adams                    Texas  WR        71.40
4     2012       Mike Adams               Ohio State  OT        79.25
6     1987  Bruce Armstrong               Louisville  OT        76.00
12    1987       Jerry Ball  Southern Methodist (TX)  DT        72.10

    Weight (lbs)  40 Yard  Bench Press  Vert Leap (in)  Broad Jump (in)  \
0            198     4.42           13            32.0              118
2            184     4.59           19            29.5              112
4            323     5.28           19            28.5              100
6            284     5.05           22            27.0              100
12           292     5.14           23            24.0               96

    Shuttle  3Cone  Year_y
0      4.60   7.31    2014
2      4.38   7.51    2014
4      4.95   7.94    2014
6      4.81   7.31    1990
12     4.77   7.31    1989

In [6]:
merged_df = pd.read_csv('merged_dataset.csv') #export data to csv file

In [7]:
print(merged_df.head())

   Unnamed: 0  Year_x             Name                  College POS  \
0           6    1987  Bruce Armstrong               Louisville  OT
1          12    1987       Jerry Ball  Southern Methodist (TX)  DT
2          15    1987    Harris Barton           North Carolina   C
3          16    1987  Steve Beuerlein               Notre Dame  QB
4          17    1987     Jerome Brown               Miami (FL)  DT

   Height (in)  Weight (lbs)  40 Yard  Bench Press  Vert Leap (in)  \
0         76.0           284     5.05           22            27.0
1         72.1           292     5.14           23            24.0
2         76.3           280     5.03           24            31.0
3         74.4           203     5.10            3            23.0
4         74.3           292     4.86           17            28.7

   Broad Jump (in)  Shuttle  3Cone  Year_y
0              100     4.81   7.31    1990
1               96     4.77   7.31    1989
2              106     4.46   7.31    1993
3               93     4.63   7.31    1999
4              109     4.45   7.31    1990

In [8]:
merged_df.rename(columns={'Year_x': 'Year'}, inplace=True)
merged_df = merged_df.drop(columns=['Unnamed: 0', 'Year_y'], axis=1)
print(merged_df.head())

   Year             Name                  College POS  Height (in)  \
0  1987  Bruce Armstrong               Louisville  OT         76.0
1  1987       Jerry Ball  Southern Methodist (TX)  DT         72.1
2  1987    Harris Barton           North Carolina   C         76.3
3  1987  Steve Beuerlein               Notre Dame  QB         74.4
4  1987     Jerome Brown               Miami (FL)  DT         74.3

   Weight (lbs)  40 Yard  Bench Press  Vert Leap (in)  Broad Jump (in)  \
0           284     5.05           22            27.0              100
1           292     5.14           23            24.0               96
2           280     5.03           24            31.0              106
3           203     5.10            3            23.0               93
4           292     4.86           17            28.7              109

   Shuttle  3Cone
0     4.81   7.31
1     4.77   7.31
2     4.46   7.31
3     4.63   7.31
4     4.45   7.31

In [9]:
holder_df = pd.merge(df_all_players, merged_df, on=['Year','Name','College','POS','Height (in)','Weight (lbs)','40 Yard','Bench Press','Vert Leap (in)','Broad Jump (in)','Shuttle','3Cone'], how='outer', indicator=True)
df_all_players['Pro Bowl'] = (holder_df['_merge'] == 'both').astype(int)
print(df_all_players.head(10))

   Year              Name               College POS  Height (in)  \
0  1987        Mike Adams         Arizona State  CB         69.8
1  1987      John Adickes                Baylor   C         74.8
2  1987        Tommy Agee                Auburn  FB         71.8
3  1987   David Alexander            Tulsa (OK)   C         75.0
4  1987     Lyneal Alston  Southern Mississippi  WR         72.1
5  1987      Steve Alvord            Washington  DE         76.5
6  1987  Anthony Anderson  Grambling State (LA)  CB         73.6
7  1987    Joe Armentrout             Wisconsin  FB         72.3
8  1987   Bruce Armstrong            Louisville  OT         76.0
9  1987       Gene Atkins           Florida A&M  FS         71.3

   Weight (lbs)  40 Yard  Bench Press  Vert Leap (in)  Broad Jump (in)  \
0           198     4.42           13            32.0              118
1           266     4.97           25            26.5              103
2           217     4.81           15            28.7              109
3           279     5.13           22            27.5              105
4           202     4.64            7            32.0              114
5           273     4.86           18            28.5              108
6           208     4.69           15            31.0              111
7           220     4.71           18            31.0              116
8           284     5.05           22            27.0              100
9           191     4.58           14            31.0              120

   Shuttle  3Cone  Pro Bowl
0     4.60   7.31         0
1     4.60   7.31         0
2     4.45   7.31         0
3     4.33   7.31         0
4     4.52   7.31         0
5     4.49   7.31         0
6     4.48   7.31         0
7     4.16   7.31         0
8     4.81   7.31         1
9     4.55   7.31         0

In [10]:
df_all_players.to_csv('final_dataset.csv', index=False)